@import url("https://fonts.googleapis.com/css?family=Open+Sans:40");

.blinking-cursor {
  user-select: none;
  animation: blink 1s steps(2, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}