[help-relative] 
{
    position: relative;
}
[help-relative]::after 
{
    content: attr(help-relative); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    border-radius: 18px;
    width: 300px; /* Ширина подсказки */
    left: 0; top: 0; /* Положение подсказки */
    background: #00000081; /* Синий цвет фона */
    color: #ffffff; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
} 
[help-relative]:hover::after 
{
    opacity: 1; /* Показываем подсказку */
    top: 2em; /* Положение подсказки */
}

[help-absolute] 
{
    position: absolute;
    overflow-y: visible;
}
[help-absolute]::before 
{
    content: attr(help-absolute); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    border-radius: 18px;
    width: 300px; /* Ширина подсказки */
    left: 0; top: 0; /* Положение подсказки */
    background: #00000081; /* Синий цвет фона */
    color: #ffffff; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
    overflow-y: visible;
} 
[help-absolute]:hover::before 
{
    opacity: 1; /* Показываем подсказку */
    top: 2em; /* Положение подсказки */
}