@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

*, *::after, *::before
{
    margin: 0;
    font-family: 'Mulish', sans-serif;
}

body
{
    overflow: hidden;
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none; 
}

.step
{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

button
{
    width: 200px;
    height: 50px;
    background-color: rgb(95, 95, 95);
    border: none;
    border-radius: 25px;
    font-size: 24px;
    color: rgb(218, 218, 218);
    cursor: pointer;
}

.absolute
{
    display: block;
    position: absolute;
}

.text
{
    color: white;
}

.Hi
{
    font-family: 'Russo One', sans-serif;
    left: 8%;
    top: 13%;
}

#container {
    width: 84vw;
    height: 20vh;
    top: 0;
    bottom: 0;
    position: absolute;
    filter: url(#threshold) blur(0.6px);
    z-index: 5;
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;

    font-family: "Raleway", sans-serif;
    font-size: 50pt;

    text-align: start;

    user-select: none;
    letter-spacing: 3px;
}

.next
{
    position: absolute;
    top: 85vh;
}

.codeWindow
{
    position: absolute;
    width: 32%;
    min-width: 380px;
    height: 27vh;
    top: 40%;
    right: 8%;
    background-color: rgba(9, 1, 12, 0.623);
    overflow: hidden;
    border-radius: 20px;
    box-shadow: rgb(31, 31, 31) 15px 15px 15px;
}
.codeWindow:before 
{
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(243, 237, 237, 0.5);
    filter: blur(10px);
    margin: -20px;
}

.codeFilenamePanel
{
    width: 100%;
    height: 25px;
    align-items: start;
    padding: 8px 15px;
    background-color: #2e2e2e;
    color: #c9c9c9;
    font-family: 'Source Code Pro', monospace;
    font-size: 22px;
    z-index: 2;
    position: absolute;
}

.notepad
{
    width: 90%;
    height: 94%;
    padding: 3%;
    font-family: 'Source Code Pro', monospace;
    color: white;
    font-size: 18px;
    position: absolute;
    top: 40px;
    left: 15px;
    z-index: 1;
    white-space: normal;
}
.notepad *
{
    font-family: 'Source Code Pro', monospace;
}
.verticalLine
{
    position: absolute;
    width: 4px;
    height: 72%;
    background-color: #777777;
    top: 55px;
    left: 10px;
    border-radius: 10px;
}

.funEmoji
{
    /* background-image: url('../resources/images/emoji.png'); */
    background-size: cover;
    width: 400px;
    height: 300px;
    top: 60%;
    right: 15%;
}

.stepDescription
{
    width: 32%;
    min-width: 380px;
    height: calc(27vh - 50px);
    left: -50%;
    top: 40%;
    position: absolute;
    overflow: hidden;
    border-radius: 25px;
    background-color: rgba(9, 1, 12, 0.3);
    color: white;
    padding: 25px;
    font-size: 26px;
    animation-fill-mode: forwards !important;
}
.stepDescription:before 
{
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(243, 237, 237, 0.5);
    filter: blur(40px);
    margin: -20px;
}
.caseContainer
{
    position: absolute;
    top: 40%;
    right: -50%;
    animation-fill-mode: forwards !important;
}
